<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Knight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="main">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Magic Knight Creator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li v-if="isLogin" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" v-on:click="logout">Logout</a>
                    </div>
                </li>

                <li v-else class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row" v-if="isLogin">
        <div class="col-sm-12">
            <div class="text-center">
                <button class="btn btn-dark" id="singlebutton" style="margin-top: 20px"  data-toggle="modal" data-target="#createModal"> Create new Magic Knight</button>
            </div>
        </div>
    </div>

    <div class="row" v-else>
        <div class="col-sm-12">
            <div class="text-center">
                <h3  style="margin-top: 20px" >Please login to add new Magic Knight</h3>
            </div>
        </div>
    </div>


    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Magic Knight</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name"  class="col-form-label">Magic Knight Name:</label>
                            <input type="text" v-model="newMagicKnight.name" class="form-control"  required>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Magic:</label>
                            <select class="form-control" v-model="newMagicKnight.magic.id" required>
                                <option v-for="magic in magics" :key="magic.id" v-bind:value="magic.id">{{ magic.name }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Position:</label>
                            <select class="form-control" v-model="newMagicKnight.position" required>
                                <option v-for="position in positions">{{ position }}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark" v-on:click="createNew">Create new magic</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username:</label>
                            <input v-model="user.username" type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Password:</label>
                            <input v-model="user.password" type="password" class="form-control" v-bind:type="isShowPassword" id="message-text"></input>
                        </div>
                        <div class="form-check">
                            <input  v-model="user.showPassword" type="checkbox" class="form-check-input" value=true>
                            <label class="form-check-label" >Show password</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" v-on:click="login" class="btn btn-dark">Login</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table" id="magicKnightTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Magic</th>
            <th scope="col">Position</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(knight, index) in magicKnightsData" :key="knight.name">
            <th scope="row">{{ index+1 }}</th>
            <td>{{ knight.name }}</td>
            <td>{{ knight.magic.name }}</td>
            <td>{{ knight.position }}</td>
        </tr>
        </tbody>
    </table>



</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>


    var app = new Vue({
        el: '#main',
        data() {
            return {
                user : {
                    username : localStorage.getItem("username"),
                    role: "",
                    password:"",
                    showPassword : [],
                    token : localStorage.getItem("token")
                },
                magicKnights : [],
                magics : [],
                positions : [
                    "SOUTH",
                    "NORTH",
                    "EAST",
                    "WEST"
                ],
                newMagicKnight : {
                    name : "",
                    magic : {
                        id : 0
                    },
                    position: ""
                }

            }
        },
        methods : {
            createNew:function () {
                axios.post("/api/magicknight/create/", this.newMagicKnight).then(resp => {
                    this.fetchMagicKnightData()
                });
                $('#createModal').modal('hide');

            },
            fetchMagicData:function () {
                axios.get("/api/magic/").then(resp => {
                    this.magics = resp.data;
                }).catch(err => {
                    console.log("error on fetching magic data");
                });
            },
            fetchMagicKnightData:function () {
                axios.get("/api/magicknight/").then(resp => {
                    this.magicKnights = [];
                    this.magicKnights = resp.data;
                });
            },
            login:function () {
                $('#loginModal').modal('hide');
                console.log(this.user);
                axios.post("/api/auth/signin", this.user).then(resp => {
                    localStorage.setItem("token", resp.data.token);
                    localStorage.setItem("username", resp.data.username);
                    this.user.token = resp.data.token;
                })
            },
            logout:function () {
                localStorage.removeItem("username");
                localStorage.removeItem("token");
                this.user.username ="";
                this.user.token = null;

            }

        },
        created () {

            this.fetchMagicData();
            this.fetchMagicKnightData();

            console.log(this.isLogin);

        },
        computed :  {
            isLogin: function () {
                console.log(this.user.username);
                console.log("fired");
                console.log(this.user.token);
                console.log(this.user.token!== null && this.user.username!==undefined&&
                    this.user.username!=='');
                return this.user.token !== null && this.user.username!==undefined&&
                    this.user.username!=='';
            },
            magicKnightsData:function () {
                return this.magicKnights;
            },
            isShowPassword:function () {
                console.log(this.user.showPassword.includes('true'));
                console.log(this.user.showPassword);
                console.log(!this.user.showPassword.includes('true'));
                if (!this.user.showPassword.includes('true')) {
                    return"password";
                } else {
                    return "text";
                }
            }
        }
    })
</script>
<style>
    #magicKnightTable {
        margin-top: 50px;
    }
</style>
</body>
</html>